@charset "utf-8";
@import '../variables';

.edit-list {
  margin: 20px;

  h2 {
    margin-bottom: 10px;
  }

  .edit-list-form {
    color: #555555;

    .edit-list-title {
      width: 300px;
      padding: 2px;
      margin-top: 5px;
      margin-bottom: 25px;
    }

    .delete-list-button {
      color: $error-color;
      border: solid 1px $error-color;
      width: 80px;
      height: 40px;
      margin-right: 5px;
      border-radius: 5px;
    }

    .edit-list-button {
      background-color: $primary-color;
      color: #ffffff;
      width: 80px;
      height: 40px;
      border-radius: 5px;
    }
  }
}

.error-message {
  color: $error-color;
}

@media (min-width: 768px) {
  .edit-list {
    display: flex;
    flex-direction: column;
    margin: 50px;
  }
}
