@charset "utf-8";
@import '../variables';

.edit-task {
  margin: 20px;

  h2 {
    margin-bottom: 10px;
  }

  .edit-task-form {
    color: #555555;

    .edit-task-title,
    .edit-task-detail {
      width: 300px;
      margin-bottom: 25px;
      padding: 2px;
    }

    .edit-task-limit {
      margin-bottom: 25px;
      padding: 2px;
    }

    .status-selector {
      margin-bottom: 25px;
      padding: 2px;

      > :first-child {
        margin-right: 20px;
      }
    }

    .delete-task-button {
      color: $error-color;
      border: solid 1px $error-color;
      width: 80px;
      height: 40px;
      margin-right: 5px;
      border-radius: 5px;
    }

    .edit-task-button {
      background-color: $primary-color;
      color: #ffffff;
      width: 80px;
      height: 40px;
      border-radius: 5px;
    }
  }

  .error-message {
    color: $error-color;
  }
}
