@import '../variables';

.taskList {
  margin: 20px;
  list-style: none;

  .list-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .list-menu {
      text-align: left;
      margin-top: 10px;

      p {
        margin-bottom: 5px;
      }
    }
  }

  .list-tab {
    list-style: none;
    display: flex;
    overflow-x: auto;
    padding: 10px 0;

    .list-tab-item {
      flex-shrink: 0;
      width: 80px;
      padding: 0 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-right: 5px;
      border: solid 1px $primary-color;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
    }

    .active {
      background-color: $primary-color;
      color: #ffffff;
    }
  }

  .tasks {
    margin-top: 15px;

    .tasks-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;

      a {
        margin-top: 10px;
      }
    }

    .task-item {
      list-style-type: none;
      width: 100%;
      background-color: $background-color;
      font-size: medium;
      border: solid 1px #ffffff;
      margin-bottom: 10px;

      .task-item-link {
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-decoration: none;
        color: #000000;

        p {
          margin-bottom: 5px;
        }

        .state-section {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .error-message {
    color: $error-color;
  }

  .display-select-wrapper {
    width: 100%;
    margin: 15px 0;

    .display-select {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .taskList {
    margin: 50px;

    .list-header {
      flex-direction: row;
      justify-content: space-between;

      .list-menu {
        text-align: right;
        margin-top: 0;
      }
    }

    .list-tab {
      padding: 10px 0;

      .list-tab-item {
        width: 100px;
        padding: 0 25px;
      }
    }

    .tasks {
      margin-top: 25px;

      .tasks-header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        a {
          margin-top: 0;
        }
      }

      .task-item {
        // width: calc(100% - 25px);
        margin-bottom: 15px;

        .task-item-link {
          flex-direction: column;
          padding: 20px;

          p {
            margin-bottom: 5px;
          }
          

          .state-section {
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }
    }

    .display-select-wrapper {
      width: 100px;
      margin: 0 0 25px auto;
    }
  }
}
