@charset "utf-8";
@import '../variables';

.header {
  background-color: $primary-color;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;

  .title {
    font-size: 25px;
  }

  .sign-out-button {
    color: #ffffff;
  }

  .sign-out-button:hover {
    color: #24bec1;
  }
}
