@charset "utf-8";
@import '../variables';

.header {
  width: 100%;
  height: 80px;
  background-color: $primary-color;
  color: #ffffff;
  display: flex;
  justify-content: space-between;

  .sign-out-button {
    color: #ffffff;
    margin: auto 25px auto auto;
  }
}
